@model mC_Connect_table.Controllers.WebhookRequest

<div class="container mt-5">
    <h1>Notification</h1>
    <div class="alert alert-info">
        <strong>@Model.title</strong>
        <p>@Model.id</p>
    </div>
</div>
