@model mC_Connect_table.Models.NotificationViewModel

<div class="container mt-5">
    <h1>Notification</h1>
    <div class="alert alert-info">
        <strong>@Model.Title</strong>
        <p>@Model.Id</p>
        <p>Testttt</p>
    </div>
</div>